# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# generated directory
**/generated

# output directory
/out

# msbuild output directories
/bin
/obj
**/Solution
/CodeBug.SendGridEmailer.Process/.vs/CodeBug.SendGridEmailer.Process/v16
/CodeBug.SendGridEmailer.Process/CodeBug.SendGridEmailer.Process/bin/Debug
/CodeBug.SendGridEmailer.Process/CodeBug.SendGridEmailer.Process/obj/Debug
/CodeBug.SendGridEmailer.Process/CodeBug.SendGridEmailer.Process.Tests/bin/Debug
/CodeBug.SendGridEmailer.Process/CodeBug.SendGridEmailer.Process.Tests/obj/Debug
/CodeBug.SendGridEmailer.Process/packages
